@charset "utf-8";

body{
    padding: 0;
}

.section-title{
    text-align: center;
    padding: 30px 0;
}



.header-inner{
    width: 100%;
    border-bottom: solid 2px black;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}

.header-list{
    width: 70%;
    margin: 0 auto;
}

.header-list ul{
    display: flex;
    justify-content: space-around;
}

.header-list ul li{
    list-style: none;
}

.header-list ul li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 0;
}


.header-list ul li a:hover{
    opacity: 0.7;
}

.top-img{
    width: 100%;
    padding-top: 20px;
}

.top-img img{
    width: 100%;
    height: auto;
}

.top-text{
    text-align: center;
}

.top-text h1{
    color: purple;
    font-size: 40px;
}

.top-text h2{
    font-size: 30px;
}

.top-text p{
    color: #555;
    font-size: 20px;
}

.news-wrap{
    width: 100%;
    padding: 100px 0;
}

.news-inner{
    text-align: center;
}

.section-title{
    padding-bottom: 30px;
}

.section-title h2{
    font-size: 40px;
    color: purple;
}

.section-title p{
    font-size: 16px;
    color: black;
}

.feater-wrap{
    width: 100%;
}

.feater-inner{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.feater-img{
    width: 45%;
    margin-right: 10%;
}

.feater-img img{
    width: 100%;
}

.feater-text{
    text-align: left;
    width: 45%;
}

.service-wrap{
    width: 100%;
    background: url(../img/service_bg.png) no-repeat;
    background-size: cover;
    margin: 100px 0;
}

.service-content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}

.service-content-box{
    width: 250px;
    padding: 30px;
    background-color: rgba(255,255,255,0.6);
}

.box-left{
    margin-right: 10%; /*反映されていない？box間に余白が少しほしい*/
}

.service-img{
    width: 200px;
    margin: 0 auto;
}

.service-img img{
    width: 100%;
}

.recruit-title h2{
    padding-bottom: 30px;
}

.recruit-title{
    padding-bottom: 50px;
}

.recruit-wrap{
    padding: 100px 0;
}

.recruit-img{
    float: right;
    width: 45%;
}

.recruit-img img{
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100px;
}

.recruit-text{
    width: 50%;
    padding: 50px 20px;
    padding-left: 100px;
}

.recruit-background{
    width: 80%;
    background-color: #F2F2F2;
}

.recruit-description h4{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}

.recruit-description p{
    line-height: 1.3;
}

.recruit-btn p a{
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background-color: purple;
    margin: 30px 0;
}

.recruit-btn p a:hover{
    opacity: 0.7;
}

.contact-box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 10px;
}

.contact-box textarea,input{
    width: 60%;
}

.message-box{
    height: 80px;
}

.btn-submit{
    text-align: center;
    padding: 20px 0;
}

.btn-contact{
    display: inline-block;
    padding: 8px 40px ;
    background-color: purple;
    color: #fff;
}


.footer-wrap{
    width: 100%;
    background-color: gainsboro;
}

.footer-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-img{
    width: 200px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.footer-img img{
    width: 100%;
}

.footer-bottom{
    padding-bottom: 35px;
}

.footer-right{
    display: flex;
}

.footer-right-left{
    border-left: #555 2px solid;
    padding: 20px 100px 20px 30px;
    position: relative;
}

.footer-right-left::after{
    content: "";
    position: absolute;
    top: 0;
    right: 100px; /*margin 0 auto の余白を侵食する移動はできない？*/
}

.footer-right-left ul li{
    padding-bottom: 20px;
    list-style: none;
}

.footer-right-left ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.footer-right-right{
    border-left: #555 2px solid;
    padding: 20px 30px;
}

.footer-right-right::after{
    content: "";
    position: absolute;
    top: 0;
    right: 100px;  /*margin 0 auto の余白を侵食する移動はできない？*/
}

.footer-right-right ul li{
    list-style: none;
}

.footer-right-right ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
